<header>
    <div class="container">
        <h5>Backoffice</h5>
        <NavLink id="logo" href="/courseadmin"><img src="/images/logo/outline-darkmode.svg" alt="Logotype for Silicon"></NavLink>
        
    </div>
</header>