@page "/useradmin"

<h3>UserAdmin</h3>

@*Alla användare sida?*@
@* get users, buttons to press delete, update *@

@*Alla registrerade för nyhetsbrev sida?*@
@* get subscribers, buttons to press delete, update *@


@*Alla administratörer sida?*@
@* get admins, buttons to create, press delete, update *@

@code {

}
